﻿@model IEnumerable<PubMarialvaAspNet.Models.Reserva>

@{
    ViewBag.Title = "Reservas";
}

<div class="landing">
    <h1>Reservas</h1>
    <p>Faça aqui a sua reserva.</p>
    <p class="button">
        @Html.ActionLink("Nova Reserva", "Create")
    </p>
</div><!-- fim div landing-->

<div class="landing">
    <table align="center" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
        </tr>
        }
    </table>
</div>
