﻿@charset "utf-8";

body {
    font-size: 19px;
    font-family: "alegreya SC", Calibro, candara, "segoe UI", Optima, Arial, sans-serif;
    background: rgb(15,15,15); /* Cor de fundo */
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Para a imagem ocupar todo o espaço*/
    color: rgb(226,226,226); /* Cor do texto */
    padding: 2% 6% 6% 6%;
}
/* fim body */

.container {
    background: rgb(15,15,15);
    background: rgba(15,15,15,0.74);
    padding: 30px;
}

h1, h2, h3 {
    font-family: "alegreya SC", Garamond, "Baskerville Old Face", "Times New Roman", serif;
    /* Evitar que a fonte estique e torna-se bold*/
    font-weight: normal;
}

h1 {
    font-size: 3.3684em;
    line-height: 1.2558em;
    margin-top: 0.4219em;
    margin-bottom: 0;
    color: rgb(172,140,71);
}

h2 {
    font-size: 1.5em;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219em auto;
}

h3 {
    font-size: 1.5263em;
    font-weight: normal;
    margin-top: 0.9310em;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    line-height: 1.4211em;
    margin-top: 1.4211em;
    margin-bottom: 0;
    font-weight: 100;
    max-width: 700px;
}

li {
    font-weight: 100;
}

img {
    width: 100%
}

a:link {
    color: rgb(172,140,71)
}

a:visited {
    color: rgb(100,81,41);
}

a:hover {
    color: rgb(224,182,90);
}

a:active {
    color: rgb(252,217,142);
}

.button {
    background-color: rgb(172,140,71);
    border-radius: 8px; /* Arredonda as bordas */
    max-width: 250px;
}
    .button a {
        color: rgb(226,226,226);
        text-decoration: none; /* retira as linha de link */
        font-style: normal;
        text-transform: uppercase; /* letras todas em maiusculas */
        text-align: center;
        display: block;
        padding: 10px 0px;
    }

        .button a:hover {
            background-color: rgb(119,97,48);
            border-radius: 8px; /* Arredonda as bordas */
            transition: 0.5s background-color; /* duração da animação e o que quero animar */
        }

.info h3 {
    border-bottom: 1px solid rgb(128,128,128) /* grosura da borda, tipo linha, cor */
}

.info p {
    font-style: italic;
}

.info ul {
    list-style: none;
    padding-left: 0;
}

@media screen and (min-width: 750px) {
    body {
        font-size: 1.4em; /* em - é o valor percentual em relação ao tamanho definido por defeito
							ou seja 19px x 1.4 */
    }
}
/* fim media screen and (min-width: 750px) */

/* ----------------------------------------------------------------------------------------
										LOGO STYLES
------------------------------------------------------------------------------------------*/

.logo {
    display: block;
    margin: 0 auto; /* centraliza a imagem */
    width: 150px;
}

    .logo img {
        width: 150px;
    }

/* ----------------------------------------------------------------------------------------
										 NAVIGATION
------------------------------------------------------------------------------------------*/

.main-navigation ul {
    padding-left: 0;
}

.main-navigation li {
    list-style: none;
    text-align: center;
    margin: 20px 0px; /* 20px porque é o tamanho para o dedo*/
}

.main-navigation a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(67,67,67,0.17);
    color: rgb(180,180,180);
}

    .main-navigation a:visited {
        color: rgb(106,106,106);
    }

    .main-navigation a:hover {
        color: rgb(255,255,255);
        transition: 0.5s color;
        background: rgba(62,61,61,0.51);
    }

    .main-navigation a:active {
        color: rgb(172,140,71);
    }

/* ----------------------------------------------------------------------------------------
										MENU PAGE Styles
------------------------------------------------------------------------------------------*/
.gallery {
    margin-top: 30px;
}

.menu-page .info ul {
    font-style: italic;
}

.menu-page .info {
    float: none;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------------------------------------------------------
										TABELA RESERVAS
------------------------------------------------------------------------------------------*/

.landing table {
    padding-top: 20px;
}

.landing th,
.landing td {
    width: 100px;
}

.landing td,
.landing th {
    padding: 10px;
    border-bottom: 2px solid rgb(36,36,36);
}

/* ----------------------------------------------------------------------------------------
										STYLES GLOBAIS DO FOOTER
------------------------------------------------------------------------------------------*/

footer {
    padding: 10px 0;
    clear: both; /* limpa o espaço livre, isto para ficar com o footer no final sem suprepor */
}

    footer h4 {
        text-transform: uppercase;
    }

    footer p {
        margin: 0;
    }

/* media query para ir ajustando as imagens da gallery */

@media screen and (min-width: 600px) {
    .gallery {
        width: 446px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 220px;
        }
}

@media screen and (min-width: 1050px) {
    .gallery {
        width: 567px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 280px;
        }
}
/* fim da media query da gallery */

/* media query para colocar lado a lado .info */
@media screen and (min-width: 1050px) {
    .info {
        float: left;
        width: 30%;
        margin-left: 3%;
    }
}
/* fim media query para colocar lado a lado .info */

/* media query para centrar o texto de entrada */
@media screen and (min-width: 750px) {
    .landing {
        text-align: center;
    }

        .landing p {
            margin-left: auto;
            margin-right: auto;
        }

        .landing th,
        .landing td {
            width: 200px;
        }
}
/* fim media query para centrar o texto de entrada */

/* media query para o menu principal */
@media screen and (min-width: 750px) {

    .main-navigation {
        min-height: 100px;
        border-top: 1px solid rgb(36,36,36);
        border-bottom: 1px solid rgb(36,36,36);
    }

        .main-navigation ul {
            max-width: 980px;
            margin: 0 auto;
        }

        .main-navigation li {
            float: left;
            margin-left: 20px;
            width: 20%;
        }

        .main-navigation a {
            background: none;
        }

            .main-navigation a:hover {
                background: none;
            }
}

/* media query para centrar a palavra menu */
@media screen and (min-width: 1120px) {

    .main-navigation ul {
        position: relative;
        right: -30px;
    }
}

/*media query para pagina local */
@media screen and (min-width: 1050px) {

    .local-page .info {
        float: none;
        width: 100%;
    }

    .local-page .landing {
        float: left;
        text-align: left;
        width: 56%;
    }

    .local-page .sidebar {
        float: right;
        width: 36%;
    }
}
