﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pub Marialva | @ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,700i">
    @Styles.Render("~/Content/css")
</head>
<body class=@ViewBag.ClassBody>
    <div class="container">
        <header>
            <a href='@Url.Action("Index", "Home")' class="logo"><img src="~/Content/imagens/logo.png" alt="Logotipo do Pub Marialva" /></a>
            <nav class="main-navigation">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Localização", "Local", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>
                </ul>
            </nav> <!-- Fim do main-navigation -->
        </header><!-- Fim de heder -->
        
        @RenderBody()

        <footer>
            <h4>Contacte-nos</h4>
            <p>21.252.235</p>
            <p>contato@pubmarialva.pt</p>
        </footer><!-- fim footer -->
    </div><!-- Fim div contaier -->

</body>
</html>
