﻿@{
    ViewBag.Title = "Home";
}

<div class="landing">
    <h1>Pub Marialva</h1>
    <h2>Um Pub clássico com aspeto moderno</h2>
    <p>O Pub Marialva é o lugar para visitar com uma atmosfera relaxante num decor moderno. As nossas bebidas incluem uma grande variedade de cervejas europeias, e uma seleção de vinhos. Fomos informados de que o nosso sótão é assombrado, em honra dos nossos convidados sobrenaturais, temos uma festa de observação todos os sábados à noite das 19h até o fim. Música ao vivo sete noites por semana, e nunca uma cobrança por entrada.</p>
</div><!-- fim div landing-->

<div class="info">
    <h3>Menu</h3>
    <p>
        Diáriamente os ingredientes mais frescos, sairá deliciado e com desejo de voltar.Venha deliciar-se veja os nossos menus.
    </p>
    <p class="button">
        @Html.ActionLink("Menu", "Menu", "Home")
    </p> <!-- fim p button -->
</div><!-- fim div info Menu -->

<div class="info">
    <h3>Localização</h3>
    <p>
        O Pub Marialva localiza-se junto ao rio na Avenida das Descobertas 21, junto ao mercado. Parqueamento limitado disponível
    </p>
    <p class="button">
        @Html.ActionLink("Local & Horas", "Local", "Home")
    </p> <!-- fim p button -->
</div><!-- fim div info Localização -->

<div class="info">
    <h3>Programação</h3>
    <ul>
        <li>Cave dos Sonhadores — 12.12 ás 20h</li>
        <li>Não são as meias da tua mãe — 12.13 ás 20h</li>
        <li>Bate no Coração — 12.14 ás 20h</li>
        <li>Tapas de morte — 12.15 ás 180h</li>
        <li>Tremoços do Tio João — 12.16 ás 18h</li>
        <li>Brisa dos Celtas — 12.17 ás 19h</li>
    </ul>
</div><!-- fim div info programação -->