﻿@model PubMarialvaAspNet.Models.ViewModelMenu

@{

    IEnumerable <PubMarialvaAspNet.Models.Prato> Pratos = Model.Pratos;
    IEnumerable <PubMarialvaAspNet.Models.Entrada> Entradas = Model.Entradas;
    IEnumerable<PubMarialvaAspNet.Models.Acompanhamento> Acompanhamentos = Model.Acompanhamentos;

    ViewBag.Title = "Menu";
    ViewBag.ClassBody = "menu-page";
}

<div class="landing">
    <h1>Menu</h1>
    <h2>Outono 2017</h2>
    <p>Os nossos menus são preparados sempre com ingredientes frescos e sabores locais. Os nossos menus varíam com as estações e com a disponibilidade dos ingredientes. Isso significa que nunca pagará ingredientes fora da temporada. Abaixo, poderá ver uma amostra de alguns dos pratos favoritos dos nossos clientes. As promoções variam diariamente e são publicadas, ou pode ligar antecipadamente para 21.678.987.</p>
</div><!-- fim div landing -->

<div class="gallery">
    <img src="~/Content/imagens/prato-especial.jpg" alt="Prato Especial da Casa">
    <img src="~/Content/imagens/escalopes.jpg" alt="Escalopes">
    <img src="~/Content/imagens/salada.jpg" alt="Salada">
    <img src="~/Content/imagens/filet.jpg" alt="Fillet">
</div><!-- fim div gallery -->

<div class="info">
    <h3>Entradas</h3>
    <ul>
        @foreach (var item in Entradas)
        {
            <li>@Html.DisplayFor(modelItem => item.EntradaPrato)</li>
        }
    </ul>
</div><!-- fim div info entradas -->

<div class="info">
    <h3>Acompanhamentos</h3>
    <ul>
        @foreach (var item in Acompanhamentos)
        {
            <li>@Html.DisplayFor(modelItem => item.Acompanhamentos)</li>
        }
    </ul>
</div><!-- fim div info acompanhamentos -->

<div class="info">
    <h3>Pratos</h3>
    <ul>
        @foreach (var item in Pratos)
        {
            <li>@Html.DisplayFor(modelItem => item.Pratos)</li>
        }
    </ul>
</div><!-- fim div info pratos -->
